.step-links {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.step-links a {
    margin: 0 5px;
    padding: 5px 10px;
    text-decoration: none;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 4px;
    /* sssss */
}

.step-links a:hover {
    background-color: #007bff;
    color: white;
}

.step-links .current {
    margin: 0 10px;
    font-weight: bold;
}

.vertical-space {
    margin-top: 50px;
    margin-bottom: 50px;
}

.border-line {
    width: 100%;
    height: 5px;
    background-color: black;
    margin: 16px 0;
}